
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--page-text-color);

  
}
:root{
    --primary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --page-text-color:#757575;
    --footer-link-color: #FFFFFF99;
    --logo-color:  #000000;
    --background-color:#FFFFFF;
    --background-color-main:#2F303A;
    --background-button-portfolio: #F5F4FA;

    --box-shadow-portfolio:0px 4px 4px 0px #00000040;
;
}
a{
    text-decoration: none;
}
h1, h2, h3, p{
    margin: 0;
    list-style: none;
}
ul{
list-style: none;
margin: 0;
padding: 0;
}

li {
    display: inline-block;
}

section{
    /*padding-top: 94px;
    padding-bottom: 94px;*/
    padding: 94px 0;
}


.container {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.hed-container{
    display: flex;
    width: 1200px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ECECEC;
 }
 .logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
 
 }
 .span-logo{
     color: var(--logo-color);
 }
 .nav{
     margin-left: 93px;
     
 }
 .nav-list {
     display: flex;
    
 }

 .nav-item:not(:last-child) {
     margin-right: 40px;
 }

 /*.nav-list .item + .item{
     margin-left: 40px;
 }*/

 .nav-list a {
    font-weight: 500;
    line-height:1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
     padding-top: 8px;
     padding-bottom: 8px;
   

 }
 .nav-link:hover, 
 .nav-link:focus  {
     color: var(--accent-text-color);
 }

 .contakt {
    display: flex;
    padding: 0;
    margin-left: 331px;
 }
/*.contakt-item:not(:last-child){
    margin-right: 50px;
}*/

 .contakt .contakt-item + .contakt-item{
     margin-left: 50px;
 }
 .contakt a {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
     color:var(--page-text-color);
 }
.contakt-link:hover,
.contakt-link:focus
{
    color: var(--accent-text-color);
}

.caption{
    background: var(--background-color-main);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 0;
   
}

.caption-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-text-color);
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.caption-button{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    background-color: var(--accent-text-color);
    margin-left: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-right: auto;
    padding: 10px 32px;
}
.advantage{
   
}
.advantage-list{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.advantage h2{
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     border: 0;
     clip: rect(0000);
}
.advantage-item h3 {
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}
.advantage-item:not(:first-child) {
      margin-left: 30px;
}
.advantage-list p{
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--page-text-color);
}
.features {
    margin-left: auto;
    margin-right: auto;
}
.features-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
.features-list{
    display: inline-flex;
    /*justify-content: space-between;
    list-style: none;*/
  /*margin: 0 auto;*/
    align-items: center;
}

.features-item:not(:first-child) {
      margin-left: 30px;
}

}
 .features-picture{
     height: 294px;
 }


.team{
   background: #F5F4FA; 
    margin-left: auto;
    margin-right: auto;
}
.team-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
.team-list{
    display: inline-flex;
    /*justify-content: space-between;*/
    margin-left: auto;
    margin-right: auto;
}
.team-details {
    padding: 30px 0;
}
.team-item{
    width: calc((100% - 90px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color:var(--background-color);

}
.team-item:not(:first-child) {
    margin-left: 30px;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;

}
.team-content{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--page-text-color);

}
.team-picture{
    max-width: 100%;
    height: auto;
}


.footer{
    background: var(--background-color-main);
    padding-top: 0;
    padding-bottom: 0;

}
.footer-logo{
    color: var(--title-text-color);
}
.footlogo{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 60px;

}
.footer-adress{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--background-color);

}
.footer-menu{
    display: inline-block;
    padding-bottom: 60px;
}
.footer-list > li {
display: block;
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);

}
.footer-link:hover,
.footer-link:focus{
    color: var(--accent-text-color);
}
.portfolio h1{
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     border: 0;
     clip: rect(0000);
 }
}
.body-portfolio{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--page-text-color);
    box-shadow: var(--box-shadow-portfolio);
}

.button-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 34px;
   
}
.button-list .button-item + .button-item {
    margin-left: 8px;
}
.button-list li [type]{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    background: var(--background-button-portfolio);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;

}
.button-list li [type]:hover,
.button-list li [type]:focus{
color: var(--title-text-color);
background-color: var(--accent-text-color);
}

 visual-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     border: 0;
     clip: rect(0000);
 }

.portfolio-item {
    width: 380px;
    margin-right: 30px;
    margin-bottom: 30px;
 }

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

 .portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
 .portfolio-picture {
     margin-bottom: 20px;
 }
 .portfolio-details{
    display: block;
 }
.portfolio-item h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--primary-text-color);
    margin-bottom: 4px;
}
.portfolio-item p{
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: var(--page-text-color);

}